.btn {
  &,
  &:link,
  &:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: $default-font-size;

    //change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover,
  {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color__black, .2);

    &::after{
      transform: scalex(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba($color__black,.2);
    outline:none;
  }

  &--white{
    background-color: $color__white;
    color: $color__grey--dark;

    &::after{
      background-color: $color__white;
    }
  }
  &--green{
    background-color: $color_primary;
    color: $color__white;

    &::after{
      background-color: $color_primary;
    }
  }
  &::after{
    content: ""; display: inline-block;
    height: 100%; width: 100%;
    border-radius: 100px; position: absolute;
    top: 0; left: 0;
    z-index: -1; transition: all .4s;
  }

  &--animated{
    animation: moveInButton .5s ease-out .75s;
    animation-fill-mode: backwards;
  }

}

.btn-text{
  &:link,
  &:visited{
    font-size: $default-font-size;
    color: $color_primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color_primary;
    padding: 3px;
    transition: all .2s;
  }

  &:hover{
    background-color: $color_primary;
    color: $color__white;
    box-shadow: 0 1rem 2rem rgba($color__black, .15);
    transform: translateY(-2px);
  }

  &:active{
    box-shadow: 0 .5rem 1rem rgba($color__black, .15);
    transform: translateY(0);
  }
}
.close--icon{
  width: 35px;
  height: 35px;
  right: 0;
  top: 25px;
  position: absolute;
  text-decoration: none;
  color: #FFF;
  cursor: pointer;
  font-size: 20px;
}

.icon{
  float: left;
  margin: 15px 30px;
  font-size: 36px;
  color: #86C232;
  cursor: pointer;
  position: fixed;

  &:hover{
    transform: translateY(-3px);
  }

  &:hover::after{
    transform: scalex(1.4) scaleY(1.6);
  }

  &:active{
    transform: translateY(-1px);
  }
}
