.carousel-caption{
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%,-50%);

  &--two{
    @include absolutecenter;
  }

  &--three{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%,-50%);
  }
}

.carousel__img{
  position:relative;
  z-index: -1;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
    width: 1%;
}
