@keyframes moveInLeft{
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }
  80%{
    transform: translateX(10px);
  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight{
  0%{
    opacity: 0;
    transform: translateX(100px);
  }
  80%{
    transform: translateX(-10px);
  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes flipLeft{
  0%{
    opacity: 0;
    transform: rotateY(180deg);
  }
  80%{
    transform: rotateY(-10deg);
  }
  100%{
    opacity: 1;
    transform: rotateY(0deg);
  }
}

@keyframes flipRight{
  0%{
    opacity: 0;
    transform: rotateY(-180deg);
  }
  80%{
    transform: rotateY(-10deg);
  }
  100%{
    opacity: 1;
    transform: rotateY(0deg);
  }
}
