*,
x::after,
x::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //this defines what 1rem is
  font-size: 62.5%; //10px
  scroll-behavior: smooth;

  @include respond(Big-desktop){ // width < 1200?
    font-size: 75%; //1rem = 12px, 12/16=75%
  }
  @include respond(Tablet-Landscape){//width < 900?
    font-size: 56.25%; //1rem = 9px, 9/16=56.25%
  }
  @include respond(Tablet-Portrait){
    font-size: 50%; //1rem = 8px, 8/16=50%
  }
}

body{
  box-sizing: border-box;
  padding: 0;
}

header{
  position: sticky;
  top: 0px;
  z-index: 100
}
